.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 25px;
}

.options {
  justify-content: space-between;
  margin: 25px;
}

.option {
  margin-left: 25px;
}
